$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?db49202e6f13c0360c1ff91c7ba87f93") format("truetype"),
url("./flaticon.woff?db49202e6f13c0360c1ff91c7ba87f93") format("woff"),
url("./flaticon.woff2?db49202e6f13c0360c1ff91c7ba87f93") format("woff2"),
url("./flaticon.eot?db49202e6f13c0360c1ff91c7ba87f93#iefix") format("embedded-opentype"),
url("./flaticon.svg?db49202e6f13c0360c1ff91c7ba87f93#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "building": "\f101",
    "house": "\f102",
    "plan": "\f103",
);

.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-house:before {
    content: map-get($flaticon-map, "house");
}
.flaticon-plan:before {
    content: map-get($flaticon-map, "plan");
}
