@font-face {
  font-family: "Cuprum Bold";
  src: url("../assets/webfonts/Cuprum-Bold.ttf");
}

@font-face {
  font-family: "Cuprum";
  src: url("../assets/webfonts/Cuprum-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: url("../assets/webfonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("../assets/webfonts/NotoSans-Bold.ttf");
}

:root {
  --fontFamilyRegular: "Noto Sans", sans-serif;
  --fontFamilyBold: "Noto Sans Bold", sans-serif;
  --playFont: 'Playfair Display', serif;
  --tekoFont: "Cuprum", sans-serif;
}

body {
  background-color: #fff;
  font-family: var(--fontFamilyRegular);
}

.mt {
  &-20 {
    margin-top: 20px;
  }

  &-30 {
    margin-top: 30px;
  }

  &-50 {
    margin-top: 50px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}

.pt {
  &-20 {
    padding-top: 20px;
  }

  &-80 {
    padding-top: 80px;
  }
}

.fz {
  &-50 {
    font-size: 50px !important;
  }
}

.no-scroll {
  overflow: hidden !important;
}

.mb {
  &-20 {
    margin-bottom: 20px;
  }

  &-80 {
    margin-bottom: 80px;
  }
}

.custom-font {
  font-family: var(--tekoFont);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.playfont {
  font-family: var(--playFont);
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.valign {
  display: flex;
  align-items: center;
}

.pages-header {
  height: 75vh;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #02050b;
    opacity: 0.5;
    z-index: 0;
  }

  .cont {
    h1 {
      font-size: 75px;
      margin-bottom: 20px;
      color: #fff;
    }

    .path {
      color: #fff;
      font-size: 17px;

      span {
        margin: 0 20px;
        font-size: 10px;
      }

      .active {
        color: #b19777;
      }
    }
  }
}

.justify {
  &-content {
    &-center {
      justify-content: center;
    }
  }
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.no-padding {
  padding: 0 !important;
}